<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#FFD768"/>
  <title>Register Admin</title>

  <!-- Favicons -->
  <link href="../assets/img/logo_imss.png" rel="icon">
  <link href="../assets/img/logo_imss" rel="logo_imss">

  <script src="https://kit.fontawesome.com/c0c01d435c.js" crossorigin="anonymous"></script>
</head>

<body>
  <main id="mainregister"></main>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>